<span class="section-title">Edição da seção como funciona?</span>

<form [formGroup]="form">
    <div class="field-title">Imagem</div>
    <input type="file" pInputFile accept="image/*" (change)="onFileChange($event, 'bannerImg')" [style.width]="'100%'" />
    
    <div class="field-title">Título</div>
    <input type="text" pInputText formControlName="title" placeholder="Título da seção" [style.width]="'100%'" />

    <div class="field-title">Cards</div>
    <div formArrayName="cards" class="cards-container">
        <div *ngFor="let cards of cards.controls; let i = index" [formGroupName]="i" class="card-item">
            <div class="card-number">Card {{ i + 1 }}</div>

            <div class="field-title">Título</div>
            <input type="text" pInputText formControlName="title" placeholder="Título do card" [style.width]="'100%'" />

            <div class="field-title">Descrição</div>
            <textarea rows="2" cols="30" pTextarea [autoResize]="true" formControlName="content" placeholder="Descrição do card" [style.width]="'100%'"></textarea>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-primary" (click)="saveSection()">Salvar</button>
    </div>
</form>