<span class="section-title">Edição da seção Unidades</span>

<form [formGroup]="form">
    <div class="field-title">Título</div>
    <input type="text" pInputText formControlName="title" placeholder="Título da seção" [style.width]="'100%'" />

    <div class="field-title">Unidades</div>
    <div formArrayName="units" class="cards-container">
        <div *ngFor="let unit of units.controls; let i = index" [formGroupName]="i" class="card-item">
            <div class="card-number">Unidade {{ i + 1 }}</div>

            <div class="field-title">Nome da unidade</div>
            <input type="text" pInputText formControlName="title" placeholder="Nome da unidade" [style.width]="'100%'" />

            <div class="field-title">Endereço</div>
            <input type="text" pInputText formControlName="address" placeholder="Endereço da unidade" [style.width]="'100%'" />

            <div class="field-title">Telefone</div>
            <input type="text" pInputText formControlName="phone" placeholder="Telefone da unidade" [style.width]="'100%'" />

            <div class="card-item mt-12">
                <div class="field-title mt-0">Horários de atendimento</div>
                <div formArrayName="openingHours" class="specifications-container">
                    <div *ngFor="let hour of getOpeningHours(i).controls; let j = index" [formGroupName]="j" class="specification-item">
                        <input type="text" pInputText formControlName="time" [style.width]="'100%'" />
                    </div>
    
                    <button type="button" class="btn btn-primary" (click)="addNewOpeningHour(i)">Adicionar Horário</button>
    
                    <p-button label="Excluir último horário" severity="danger" class="btn-clean" (onClick)="deleteLastOpeningHour(i)" />
                </div>
            </div>

            <p-button label="Excluir" severity="danger" class="btn-delete" (onClick)="deleteUnit(i)" />
        </div>
    </div>

    <button class="btn btn-primary" (click)="addNewUnit()">Adicionar Unidade</button>

    <div class="buttons">
        <button class="btn btn-primary" (click)="saveSection()">Salvar</button>
    </div>
</form>