<p-dialog class="modal" header="Painel de Edição" [closable]="false" [visible]="true">
    @if(!sectionSelected) {
        <span class="title">Selecione a seção que deseja editar:</span>
    
        <div class="fake-btn-container">
            <div class="fake-btn" (click)="sectionSelected = '#section0'">Barra de Navegação</div>
            <div class="fake-btn" (click)="sectionSelected = '#section1'"><a href="#section1">Seção Principal</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section2'"><a href="#section2">Como Funciona?</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section3'"><a href="#section3">Nossas Motos</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section4'"><a href="#section4">Nossos Planos</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section5'"><a href="#section5">Nossas Unidades</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section6'"><a href="#section6">Raios de Operação</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#section7'"><a href="#section7">Footer</a></div>
            <div class="fake-btn" (click)="sectionSelected = '#form'">Formulário do plano</div>
        </div>
    } @else {
        @switch (sectionSelected) {
            @case ('#section0') { <app-navbar [content]="content"/> }
            @case ('#section1') { <app-hero-header [content]="content"/> }
            @case ('#section2') { <app-how-it-works [content]="content"/> }
            @case ('#section3') { <app-motorcycles [content]="content"/> }
            @case ('#section4') { <app-plans [content]="content"/> }
            @case ('#section5') { <app-units [content]="content"/> }
            @case ('#section6') { <app-operating-range [content]="content"/> }
            @case ('#section7') { <app-footer [content]="content"/> }
            @case ('#form') { <app-form [content]="content"/> }
        }
    }
    
    <div class="buttons">
        <button class="btn btn-outline-primary" (click)="sectionSelected ? resetModal() : closeModal()">{{ sectionSelected ? 'Cancelar' : 'Sair' }}</button>
    </div>
</p-dialog>


