<span class="section-title">Edição da barra de navegação</span>

<form [formGroup]="navbarForm">
    <div class="field-title">Logo</div>
    <input type="file" pInputFile accept="image/*" (change)="onFileChange($event, 'logoImg')" [style.width]="'100%'">
    
    <div class="field-title">Texto do botão</div>
    <textarea rows="1" cols="30" pTextarea [autoResize]="true" [style.width]="'100%'" formControlName="buttonApp"></textarea>

    <div class="field-title">Links de navegação</div>
    <div formArrayName="links" class="links-container">
        <div *ngFor="let link of links.controls; let i = index" [formGroupName]="i" class="link-item">
            <input type="text" pInputText  formControlName="text" placeholder="Texto do link" />
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-primary" (click)="saveSection()">Salvar</button>
    </div>
</form>