:host {
    ::ng-deep {
        .p-button-text.p-button-secondary {
            background: var(--color-primary);
            color: var(--color-white);

            &:hover {
                background: var(--color-primary) !important;
                color: var(--color-white) !important;
            }
        }

        .p-carousel-indicator-list {
            padding-top: var(--spacing-md);
        }

        .p-carousel-indicator-active .p-carousel-indicator-button {
            background: var(--color-primary);
        }

        .p-carousel-item-list {
            padding: var(--spacing-xxxs) 0;
        }

        .p-carousel-prev-button {
            position: absolute;
            left: 25px;
            z-index: 1;
        }

        .p-carousel-next-button {
            position: absolute;
            right: 25px;
            z-index: 1;
        }

        @media screen and (max-width: 449.98px) {
            .p-carousel-prev-button {
                left: 8px;
            }

            .p-carousel-next-button {
                right: 8px;
            }
        }


        .p-dialog {
            border: none;
            border-radius: var(--spacing-nano);
            box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.25);
            width: 90%;
            max-width: 512px;
            max-height: 75vh;

            &-header {
                background-color: var(--color-white);
                color: var(--color-primary);
                border-radius: 12px;
                align-self: center;

                .p-dialog-title {
                    font-size: 22px;
                    font-weight: 700;
                }
            }

            &-content {
                background-color: var(--color-white);
                color: var(--color-text-secondary);
                border-radius: 12px;
            }

            .p-inputtext, .p-textarea, .p-select, .p-datepicker {
                width: 100%;
            }

            .field-title {
                font-weight: 500;
                margin-bottom: 8px;
                margin-top: 20px;
                font-size: 15px;
            }

            .buttons {
                display: flex;
                gap: 12px;
                justify-content: flex-end;
                margin-top: 32px;

                .btn {
                    font-size: 16px;
                    padding: 8px 18px;
                } 
            }
        }

        @media screen and (max-width: 449.98px) {
            .p-dialog {
                .buttons {
                    flex-direction: column;

                    .btn {
                        width: 100%;
                    }
                }
            }
            
        }
    }

    .container {
        padding: var(--spacing-section);
        padding-left: var(--spacing-xxs);
        padding-right: var(--spacing-xxs);
        max-width: 1600px;
        margin: auto;
    }

    .title {
        text-align: center;
        margin-bottom: var(--spacing-lg);
    }

    .plans {
        &__card {
            margin: auto;
            width: 350px;
            height: 100%;
            background-color: var(--color-white);
            padding: var(--spacing-sm);
            border-radius: 12px;
            box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;

            &__img {
                width: 100%;
                height: 250px;
                object-fit: contain;
                margin-bottom: var(--spacing-xs);
            }

            &__title {
                margin-bottom: var(--spacing-quarck);
                font-weight: 700;
                color: var(--color-primary);
            }

            &__moto-name {
                font-size: 22px;
                margin-bottom: var(--spacing-xxs);
            }

            &__guarantee {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: var(--spacing-nano);
            }

            &__values {
                margin-bottom: var(--spacing-md);
            }

            &__value {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--spacing-xxxs);
                padding: var(--spacing-xxs) 0;
                border-bottom: 2px solid var(--color-border);
                font-size: 16px;

                &__amount {
                    font-size: 18px;
                }
            }

            &__button {
                margin-top: auto;
                align-self: center;
                width: 100%;
                letter-spacing: unset;
            }

            &--special {
                border: 2px solid var(--color-primary);
                background-color: var(--color-special-card-background);
                padding: var(--spacing-sm) var(--spacing-xs);
                position: relative;
                text-align: center;

                .plans__card {

                    &__tag {
                        position: absolute;
                        top: var(--spacing-xs);
                        left: var(--spacing-xs);
                        background-color: var(--color-primary);
                        color: var(--color-white);
                        padding: var(--spacing-nano) var(--spacing-xxs);
                        font-size: 16px;
                        font-weight: 700;
                        border-radius: 8px;
                    }

                    &__title {
                        margin-bottom: var(--spacing-xxxs);
                    }

                    &__moto-name {
                        margin-bottom: var(--spacing-xs);
                    }

                    &__value {
                        font-weight: 500;
                        color: var(--color-text-secondary);

                        &__amount {
                            font-size: 18px;
                            font-weight: 700;
                            color: var(--color-primary);
                        }
                    }

                    &__options {
                        margin-bottom: var(--spacing-md);

                        &__title {
                            font-size: 24px;
                            font-weight: 600;
                            margin-bottom: var(--spacing-xxs);
                        }

                        &__container {
                            display: flex;
                            flex-direction: column;
                            gap: var(--spacing-xxxs);
                        }

                        &__option {
                            display: flex;
                            align-items: center;
                            padding: var(--spacing-xxxs);
                            background-color: #FFF0E9;
                            justify-content: space-between;
                            border: 2px solid #E1E8F2;
                            border-radius: 4px;
                            gap: var(--spacing-nano);

                            &-title {
                                text-align: left;
                                font-size: 18px;
                                font-weight: 500;
                                color: var(--color-text-secondary);
                            }

                            &-amount {
                                text-align: right;
                                font-size: 20px;
                                font-weight: 700;
                                color: var(--color-primary);
                                white-space: nowrap;
                            }

                            &-span {
                                text-align: right;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 998.98px) {
        .container {
            padding: var(--spacing-lg) var(--spacing-xxs);
        }

        .title {
            margin-bottom: var(--spacing-sm);
        }
    }

    @media screen and (max-width: 699.98px) {
        .plans__card {
            &--special {

                .plans__card {
                    &__img {
                        margin-bottom: var(--spacing-xxxs);
                    }

                    &__title {
                        margin-bottom: var(--spacing-nano);
                    }

                    &__moto-name {
                        margin-bottom: var(--spacing-xxs);
                    }

                    &__values {
                        margin-bottom: var(--spacing-xs);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 399.98px) {
        .plans__card {
            width: 300px;
            padding: var(--spacing-xs);
        }
        
    }
}