<div class="container">
    <h2 class="title">{{ content.title }}</h2>
    
    <p-carousel
        orientation="horizontal"
        [value]="combinedPlans"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="4"
        [numScroll]="4"
        [showIndicators]="true"
    >
      <ng-template pTemplate="item" let-plan>
            <div
                class="plans__card"
                [ngClass]="{ 'plans__card--special': plan.isSpecial }"
            >
                @if (!plan.isSpecial) {
                    <img class="plans__card__img" [src]="plan.planImg" [alt]="plan.planName" />
                    <h4 class="plans__card__title">{{ plan.planName }}</h4>
                    <h5 class="plans__card__moto-name">{{ plan.description }}</h5>
                    <h5 class="plans__card__guarantee">{{ plan.guarantee }}</h5>

                    <div class="plans__card__values">
                        @for (value of plan.values; track $index) {
                            <div class="plans__card__value">
                                <p>{{ value.time }}</p>
                                <h6 class="plans__card__value__amount">{{ value.amount }}</h6>
                            </div>
                        }
                    </div>

                    <button
                        class="plans__card__button btn-primary"
                        [class.btn-disabled]="!plan.buttonActive"
                        (click)="openForm(plan.planName)"
                    >{{ plan.button }}</button>
                } @else {
                    <img
                        class="plans__card__img"
                        [src]="plan.planImg"
                        [alt]="plan.planName"
                    />
                    <div class="plans__card__tag">{{ plan.tag }}</div>
        
                    <h4 class="plans__card__title">{{ plan.planName }}</h4>
                    <h5 class="plans__card__moto-name">{{ plan.description }}</h5>
        
                    <div class="plans__card__values">
                        @for (info of plan.infos; track $index) {
                            <div class="plans__card__value">
                                <p>{{ info.title }}</p>
                                <h6 class="plans__card__value__amount">{{ info.value }}</h6>
                            </div>
                        }
                    </div>
        
                    <button
                        class="plans__card__button btn-primary"
                        [class.btn-disabled]="!plan.buttonActive"
                        (click)="openForm(plan.planName, true)"
                    >{{ plan.button }}</button>
                }
            </div>
        </ng-template>
    </p-carousel>
</div>

<p-dialog [header]="'Reservar ' + selectedPlan" [modal]="true" [closable]="false" [draggable]="false" [(visible)]="dialogVisible">
    <form [formGroup]="form">
        <div class="field-title">Nome</div>
        <input type="text" pInputText placeholder="Nome completo" formControlName="name" />

        <div class="field-title">Telefone WhatsApp</div>
        <input type="number" pInputText placeholder="Telefone WhatsApp" formControlName="phone" />

        <div class="field-title">E-mail</div>
        <input type="email" pInputText placeholder="E-mail" formControlName="email" />

        <div class="field-title">Endereço</div>
        <textarea rows="1" cols="30" pTextarea [autoResize]="true" formControlName="address" placeholder="Endereço"></textarea>

        <div class="field-title">Cidade</div>
        <input type="text" pInputText placeholder="Cidade" formControlName="city" />

        <div class="field-title">Forma de pagamento do caução</div>
        <p-select
            [options]="paymentMethodList"
            optionLabel="method"
            formControlName="paymentMethod"
            placeholder="Selecione uma forma de pagamento"
            scrollHeight="150px"
        ></p-select>

        <div class="field-title">Finalidade da locação</div>
        <p-select
            [options]="purposeList"
            optionLabel="purpose"
            formControlName="purpose"
            placeholder="Selecione uma finalidade"
            scrollHeight="150px"
        ></p-select>

        @if (isSpecialPlan) {
            <div class="field-title">Escolha Sua Moto</div>
            <p-select
                [options]="motoList"
                optionLabel="text"
                formControlName="moto"
                placeholder="Selecione uma moto"
                scrollHeight="150px"
            ></p-select>
        }

        <div class="field-title">Data da retirada da moto</div>
        <p-datepicker
            formControlName="pickupDate"
            placeholder="Data da retirada"
            [minDate]="today"
            [showIcon]="true"
            [disabledDays]="[0]"
            [dateFormat]="'dd/mm/yy'"
        ></p-datepicker>
        
        <div class="buttons">
            <button class="btn btn-primary" [class.btn-disabled]="form.invalid" (click)="submitForm()">Reservar</button>
            <button class="btn btn-outline-primary" (click)="cancelForm()">Cancelar</button>
        </div>
    </form>
</p-dialog>