<div class="container">
    <h2 class="title">{{ content.title }}</h2>
    
    <p-carousel
        orientation="horizontal"
        [value]="combinedPlans"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="4"
        [numScroll]="4"
        [showIndicators]="true"
    >
      <ng-template pTemplate="item" let-plan>
            <div
                class="plans__card"
                [ngClass]="{ 'plans__card--special': plan.isSpecial }"
            >
                @if (!plan.isSpecial) {
                    <img class="plans__card__img" [src]="plan.planImg" [alt]="plan.planName" />
                    <h4 class="plans__card__title">{{ plan.planName }}</h4>
                    <h5 class="plans__card__moto-name">{{ plan.description }}</h5>
                    <h5 class="plans__card__guarantee">{{ plan.guarantee }}</h5>

                    <div class="plans__card__values">
                        @for (value of plan.values; track $index) {
                            <div class="plans__card__value">
                                <p>{{ value.time }}</p>
                                <h6 class="plans__card__value__amount">{{ value.amount }}</h6>
                            </div>
                        }
                    </div>

                    <button
                        class="plans__card__button btn-primary"
                        [class.btn-disabled]="!plan.buttonActive"
                        (click)="openForm(plan.planName)"
                    >{{ plan.button }}</button>
                } @else {
                    <img
                        class="plans__card__img"
                        [src]="plan.planImg"
                        [alt]="plan.planName"
                    />
                    <div class="plans__card__tag">{{ plan.tag }}</div>
        
                    <h4 class="plans__card__title">{{ plan.planName }}</h4>
                    <h5 class="plans__card__moto-name">{{ plan.description }}</h5>
        
                    <div class="plans__card__values">
                        @for (info of plan.infos; track $index) {
                            <div class="plans__card__value">
                                <p>{{ info.title }}</p>
                                <h6 class="plans__card__value__amount">{{ info.value }}</h6>
                            </div>
                        }
                    </div>
        
                    <button
                        class="plans__card__button btn-primary"
                        [class.btn-disabled]="!plan.buttonActive"
                        (click)="openForm(plan.planName)"
                    >{{ plan.button }}</button>
                }
            </div>
        </ng-template>
    </p-carousel>
</div>

<p-dialog header="Edit Profile" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Update your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <!-- <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div> -->
</p-dialog>