@if (siteContent) {
    <app-navbar [content]="siteContent.navbar" />
    <app-hero-header [content]="siteContent.heroSection" id="section1" />
    <app-how-it-works [content]="siteContent.howItWorks" id="section2" />
    <app-motorcycles [content]="siteContent.motorcycles" id="section3" />
    <app-plans [content]="siteContent.plans" [formData]="siteContent.form" id="section4" />
    <app-units [content]="siteContent.units" id="section5" />
    <app-operating-range [content]="siteContent.range" id="section6" />
    <app-footer [fullContent]="siteContent" [content]="siteContent.footer" id="section7" /> 
}