<span class="section-title">Edição da Seção Principal</span>

<form [formGroup]="heroForm">
    <div class="field-title">Imagem de fundo (URL)</div>
    <input type="text" pInputText formControlName="backgroundImg" placeholder="URL da imagem de fundo" [style.width]="'100%'" />

    <div class="field-title">Logo (URL)</div>
    <input type="text" pInputText formControlName="logoImg" placeholder="URL da Logo" [style.width]="'100%'" />
    
    <div class="field-title">Título Principal</div>
    <textarea rows="3" cols="30" pTextarea [autoResize]="true" [style.width]="'100%'" formControlName="title"></textarea>
    
    <div class="field-title">Subtítulo</div>
    <textarea rows="3" cols="30" pTextarea [autoResize]="true" [style.width]="'100%'" formControlName="subtitle"></textarea>
    
    <div class="field-title">Texto do botão</div>
    <textarea rows="1" cols="30" pTextarea [autoResize]="true" [style.width]="'100%'" formControlName="button"></textarea>

    <div class="buttons">
        <button class="btn btn-primary" (click)="saveSection()">Salvar</button>
    </div>
</form>