:root {
    --p-textarea-focus-border-color: var(--color-primary) !important;
    --p-inputtext-focus-border-color: var(--color-primary) !important;
    --p-toggleswitch-checked-background: var(--color-primary) !important;
    --p-toggleswitch-checked-hover-background: var(--color-primary) !important;
    --p-select-focus-border-color: var(--color-primary) !important;
    --p-datepicker-date-selected-background: var(--color-primary) !important;
    --p-button-text-primary-color: var(--color-primary) !important;
    --p-button-text-primary-hover-background: var(--color-special-card-background) !important;
    --p-button-text-primary-active-background: #ff510089 !important;
}