:root {
    --p-textarea-focus-border-color: var(--color-primary) !important;
    --p-inputtext-focus-border-color: var(--color-primary) !important;
    --p-toggleswitch-checked-background: var(--color-primary) !important;
    --p-toggleswitch-checked-hover-background: var(--color-primary) !important;
}