:root {
    // Colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #FF5200;
    --color-secondary: #E64A00;
    --color-text-primary: #4B5563;
    --color-text-secondary: #1F2937;
    --color-text-navbar: #374151;
    --color-page-background: #F9FAFC;
    --color-footer-background: #111828;
    --color-card-background: #F6F6F6;
    --color-special-card-background: #FFFAF7;
    --color-section-background-secondary: #E0E3EC;
    --color-carousel-arrows: #575656;
    --color-border: #E1E8F2;
    --color-scrollbar-thumb: #bfbebe;
    --color-scrollbar-track-shadow: inset 0 0 8px rgb(150 150 150 / 30%);

    // Spacing
    --spacing-quarck: 4px;
    --spacing-nano: 8px;
    --spacing-xxxs: 12px;
    --spacing-xxs: 16px;
    --spacing-xs: 24px;
    --spacing-sm: 32px;
    --spacing-md: 40px;
    --spacing-lg: 48px;
    --spacing-xl: 56px;
    --spacing-xxl: 64px;
    --spacing-section: 75px 32px 100px 32px;
}